body {
    background-image: url('Background-Image.webp');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #0E152F;
    font-family: poppins;
    color: white;
}

option{
    color: #0E152F;
}

.main-container {
    width: 40%;
    height: 30%;
    margin-top: 17.5%;
    margin-left: 30%;
    text-align: center;
}

.start-container {
    text-align: center;
    margin-top: 20%;
}

.end-container {
    width: 40%;
    height: 30%;
    margin-top: 17.5%;
    margin-left: 30%;
    text-align: center;
}

h1 {
    font-weight: 900;
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
}

.radio-div {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    margin: 0.2rem;
    border-radius: 30px;
    display: inline-block;
    width: 20%;
}

.click {
    color: white;
    font-size: 1.3rem;
    font-family: poppins;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 30px;
    width: 20%;
    border-style: solid;
    border-color: white;
}

.clickRes {
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    font-family: poppins;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5rem;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
}

.input-answer {
    color: white;
    border-radius: 30px;
    width: 30%;
    padding: 0.6rem;
    font-size: 1rem;
    background-color: transparent;
    box-sizing: border-box;
    border: 3px solid #FFF;
    outline: none;
}

.code{
    width: 50%;
    margin-left: 25%;
    text-align: left;
    font-size: 20px;
}

.report {
    font-size: 1rem;
}

.hide {
    display: none;
}

[class*="main-container"] {
    width: 95%;
    height: 100%;
    margin: 0%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .main-container {
        margin-top: 17.5%;
    }
}